################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.assets.cache
/.vs/HRPortal/v16/Server/sqlite3
/.vs/HRPortal/v16/.suo
/.vs/HRPortal/v16/TestStore/0/000-0000.testlog
/.vs/HRPortal/v16/TestStore/0/testlog.manifest
*.json
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/HRPortal.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/HRPortal.pdb
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Authentication.Core.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Authorization.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Http.Extensions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Authorization.Policy.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Mvc.Core.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Razor.Language.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Routing.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Http.Features.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Authentication.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Routing.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.DotNet.PlatformAbstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.Workspaces.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.CSharp.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.WebUtilities.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.TestHost.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Mvc.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Http.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Http.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Hosting.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Hosting.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Composition.Hosting.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Resources.Extensions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.IO.Pipelines.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Interactive.Async.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Composition.TypedParts.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Composition.Runtime.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Composition.Convention.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Composition.AttributedModel.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/SshNet.Security.Cryptography.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Renci.SshNet.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Caching.Memory.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Caching.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Design.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Google.Protobuf.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/dotnet-aspnet-codegenerator-design.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/BouncyCastle.Crypto.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Hosting.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileSystemGlobbing.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Physical.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyModel.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Configuration.Binder.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/MySql.Data.EntityFrameworkCore.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/MySql.Data.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Net.Http.Headers.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Primitives.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Options.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.ObjectPool.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.Abstractions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/System.Security.Permissions.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/Remotion.Linq.dll
/XUnitTestHRPortal/bin/Debug/netcoreapp3.0/NuGet.Frameworks.dll
