################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRPortal/obj/project.assets.json
/HRPortal/obj/HRPortal.csproj.nuget.cache
/HRPortal/obj/Release/netcoreapp2.1/HRPortal.RazorAssemblyInfo.cache
/HRPortal/obj/Release/netcoreapp2.1/HRPortal.AssemblyInfoInputs.cache
/HRPortal/obj/Release/netcoreapp2.1/HRPortal.assets.cache
/HRPortal/obj/Release/netcoreapp2.1/HRPortal.RazorAssemblyInfo.cs
/HRPortal/obj/Release/netcoreapp2.1/HRPortal.csproj.CoreCompileInputs.cache
/HRPortal/obj/Release/netcoreapp2.1/HRPortal.AssemblyInfo.cs
/HRPortal/obj/HRPortal.csproj.nuget.g.targets
/HRPortal/obj/HRPortal.csproj.nuget.g.props
/HRPortal/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/HRPortal/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/HRPortal/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.RazorTargetAssemblyInfo.cache
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.RazorAssemblyInfo.cs
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.RazorAssemblyInfo.cache
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.pdb
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.dll
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.csprojAssemblyReference.cache
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.csproj.FileListAbsolute.txt
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.csproj.CoreCompileInputs.cache
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.assets.cache
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.AssemblyInfoInputs.cache
/HRPortal/obj/Debug/netcoreapp2.1/HRPortal.AssemblyInfo.cs
/HRPortal/bin/Debug/netcoreapp2.1/HRPortal.runtimeconfig.json
/HRPortal/bin/Debug/netcoreapp2.1/HRPortal.runtimeconfig.dev.json
/HRPortal/bin/Debug/netcoreapp2.1/HRPortal.pdb
/HRPortal/bin/Debug/netcoreapp2.1/HRPortal.dll
/HRPortal/bin/Debug/netcoreapp2.1/HRPortal.deps.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/HRPortal/v15/Server/sqlite3/storage.ide-wal
/.vs/HRPortal/v15/Server/sqlite3/storage.ide-shm
/.vs/HRPortal/v15/Server/sqlite3/storage.ide
/.vs/HRPortal/v15/Server/sqlite3/db.lock
/.vs/HRPortal/v15/.suo
/.vs/HRPortal/DesignTimeBuild/.dtbcache
/.vs/config/applicationhost.config
